:root {
    --bg-main: #F8FAFC;
    --text-primary: #002C5C;
    --white-bg: #FFFFFF;
    --green-color: #10B981;
    --red-color: #EF4444;
    --border-light: #FFFFFF;
}

body {
    font-family: "Geist", sans-serif;
    background-color: var(--bg-main);
    margin: 0;
    color: var(--text-primary);
}

.app-wrapper {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

.main-title { 
    text-align: start; 
    margin-bottom: 2rem; 
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem;
    margin-bottom: .875rem;
}

.metric-card {
    background: var(--white-bg);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
    text-align: center;
}

.metric-card p { margin: 0;  }
.metric-card h2 { margin: 0.5rem 0 0; font-size: 2rem; }
.color-success { color: var(--green-color); }
.color-error { color: var(--red-color); }

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}

.filter-tabs { 
    margin-top: 10px; 
    display: flex;
    gap: 5px; 
}

.filter-btn {
    padding: 8px 16px;
    border: 1px solid var(--border-light);
    background: white;
    cursor: pointer;
    border-radius: 6px;
    white-space: nowrap;
}
.filter-btn.active { 
    background: #3B82F6; color: white; border-color: #3B82F6; 
}

#job-cards-container { 
    display: grid; gap: 1rem; 

}

.job-item {
    background: var(--white-bg);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--border-light);
    position: relative;
}

.job-item.is-hidden {
     display: none; 
}





